body{
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  opacity: 0.9;
  font-size: 22px;

  margin: 0;
}
header{
  background-color: black;
  border-bottom: solid 1px seashell;
  display: flex;
  width: 100%;
  height: 69px;
  align-items: center;
  position: fixed;
  z-index: 1;
}
.headerTea img{
  padding-left: 10px;
  height: 50px
}
.headerTea{
  flex-grow: 1;
}
.nav a{
  color: white;

}
.nav span{
  padding-right: 10px;
}
.content{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

}
.mission {
  background-color: black;
  width: 1200px;
  display: inline-block;
  height: 130px;
  

}
.mission h2,h4{
 text-align: center;

}
